html {
    font-size: 16px;
    background-color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Navigation Bar */

.navbar {
    background-color: white;
    min-height: 64px;
    z-index: 5;
}


.navbar .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 24px;
} 
.navbar .logo {
    display: flex;
    padding-left: 8px;
}


.navbar .links img {
    width: 2.5rem;
}
.navbar .links p {
    font-family: sans-serif;
    font-size: 1.5rem;
    opacity: 0.7;
}



.navbar a {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 0 16px;
}
.navbar a:hover {
    padding: 16px;
    background-color: rgb(170, 170, 170);
    transition: background-color 200ms linear;
}



/* Landing Page */

.landing {
    display: flex;
    width: 100%;
    background-color: lightgray;
}

.landing img {
    padding: 3rem 2rem;
}



.landing .landing-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    margin-left: 24px;;

    font-size: 2.2rem;
    font-family: sans-serif;
}



.landing .landing-text h1 {
    color: rgb(50, 50, 50);
    opacity: 0.9;

    font-family: 'Hind Vadodara';
    font-weight: 700;
    line-height: 1.25;

    margin: 0;
}
.landing .landing-text p {
    color: rgb(50, 50, 50);
    opacity: 0.9;

    font-family: 'Hind Vadodara';
    font-weight: 600;


}


.landing .landing-text a {
    color: white;
    background-color: rgb(55, 55, 55);
    text-decoration: none;

    padding: 16px 0px;
    margin: 24px;
    width: 490px;
    text-align: center;

    font-size: 1.8rem;
    font-family: 'Hind Vadodara';
}
.landing .landing-text a:hover {
    background-color: rgb(65, 65, 65);
    transition: background-color 200ms;
}




/* Second Page */

.second-page {
    display: inline-flex;
}

.second-page .left .left-text img {
    padding: 2rem 1.5rem;
}
.second-page .left {
    display: inline-flex;
    width: 60%;
}



.second-page .left .left-text h1 {
    font-family: 'Hind Vadodara';
    font-size: 3.3rem;
    margin: 0px 24px 24px;
    color: rgb(66, 66, 66);
}
.second-page .left .left-text p {
    font-family: 'Hind Vadodara';
    margin: 32px 24px 24px;
}
.second-page .left .left-text span {
    font-family: 'Hind Vadodara';
    margin: 32px 24px 24px;
}




.second-page .container-right {
    display: inline-flex;
    flex-direction: column;
    padding-top: 32px;
}


.right-top  {
    display: flex;
    border: 1px solid lightgray;
    padding: 16px;
}
.right-middle {
    display: flex;
    border: 1px solid lightgray;
    padding: 16px;
}
.right-bottom {
    display: flex;
    border: 1px solid lightgray;
    padding: 16px;
}